In [161]:
# Dependencies 
from bs4 import BeautifulSoup
import requests
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
import pandas as pd

In [162]:
# URL to pull
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

In [163]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [164]:
# Loading browser and BeautifulSoup
browser.visit(url)
html = browser.html
news_soup = BeautifulSoup(html, 'html.parser')

# Pulling the parent I want to look inside
slide_elem = news_soup.select_one('ul.item_list li.slide')

# Pulling in title and paragraph
title = slide_elem.find("div", class_='content_title').get_text()
paragraph = slide_elem.find("div", class_='article_teaser_body').get_text()

In [165]:
# Printing title and paragraph
print(title)
print(paragraph)

Mars InSight Lander Seen in First Images from Space
Look closely, and you can make out the lander's solar panels.

In [166]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

Pulling in the image by clicking through the different buttons

In [167]:
# Starting URL
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [168]:
# Pull in URL
browser.visit(url2)

In [169]:
# Click first button
full_image = browser.find_by_id('full_image')
full_image.click()

In [170]:
# Click second button
link = browser.find_link_by_partial_text('more info')
link.click()

In [171]:
# Use Beautiful Soup on final page to pull image
html = browser.html
news_soup = BeautifulSoup(html, 'html.parser')

In [172]:
# Pulling in the source 
img_elem = news_soup.select_one('figure.lede a img').get('src')
img_elem

'/spaceimages/images/largesize/PIA18273_hires.jpg'

In [173]:
# Putting the 
format = f"https://www.jpl.nasa.gov{img_elem}"
format

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18273_hires.jpg'

In [174]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [175]:
#
url3 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url3)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [176]:

mars_weather = soup.find('p','TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text
print(mars_weather)

Sol 2258 (2018-12-13), high -6C/21F, low -70C/-93F, pressure at 8.41 hPa, daylight 06:37-18:51

In [177]:
url4 = 'https://space-facts.com/mars/'

In [178]:
# Reading into dataframe
tables = pd.read_html(url4)

#Change columns
tables_df = tables[0]
tables_df.columns = ['Description','Info']

tables_df.set_index('Description',inplace=True)
tables_df

                                               Info
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [180]:
# Printing table as HTML
tables_html = tables_df.to_html()
tables_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Info</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:

# URL of page to be scraped
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
products = soup.find('div', class_='collapsible results')
hemisphere = products.find_all('h3')

image_url_list = []
title_list =[]

for record in hemisphere:
    try:
        #Capture the title
        title_list.append(record)
        #Click on the link
        browser.click_link_by_partial_text('Enhanced')
        #find the Original Image link on the new page
        downloads = browser.find_link_by_text('Sample').first
        link = downloads['href']
        #Capture the sample image url
        image_url_list.append(link)
    except ElementDoesNotExist:
        print("Scraping Complete")

# use zip() to map values
titles_and_urls = zip(title_list, image_url_list)
# convert values to print as a set
titles_and_urls = set(titles_and_urls)

print(titles_and_urls)

In [ ]:
print(title_list)
print(image_url_list)